@import '~photon-colors/photon-colors';
@import '~@mozilla-protocol/tokens/dist/index';

// Base color variables
// TODO:
// - Find all colors used in individual components not defined here, like all
//   the references to various $grey, all the calls to transparentize and such,
//   and replace them with a CSS variable that describes the function rather
//   than the color
// - Split --white and rename
// - Fix black text on dark background in buttons/badges
// - Fix text input / form widgets that are still using light background
// - Start messing with dark styles, figure out a good palette
// - Check constrast in dark mode for accessibility, increase where necessary
// - Fix remaining little details like SVG fills, shadows, etc.
:root {
  --primary-font-color: #000;
  --body-font-color: #1d1d1d;
  --text-color-default: #333;
  --sub-text-color: #6a6a6a;
  --base-bg-color: #fff;
  --link-color: #0060df; /* $blue-60; */
  --visited-color: #6200a4; /* $purple-70 */
  --showmorecard-gradient-color: #f4f9ff;
  --shadow: rgba(52, 59, 64, 0.5); /* transparentize(#343a40, 0.5) */
  --white: #fff;
  --header-base-color: #0f1126;
  --footer-base-color: #051818;
  --action-hover-color: #72c3fc;
  --action-active-color: #1c7cd6;
  --accent-bg-color: #e9ecef;
  --highlight-bg-color: #f9f9fa; /* $grey-10 */
  --table-header-row-bg-color: #d7d7db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-font-color: #f1f1f1;
    --body-font-color: #aaa;
    --text-color-default: #bbb;
    --sub-text-color: #ccc;
    --base-bg-color: #212121;
    --link-color: #3ea6ff;
    --visited-color: #c069ffs;
    --table-header-row-bg-color: #38383d;
    --accent-bg-color: #0f0f0f;
    --highlight-bg-color: #383838; /* $grey-10 */
  }
}

// Category Colors
// There are currently 12 colors and this number must be kept in sync with
// `src/amo/components/Categories/index.js`.
$category-colors: $teal-70, $red-60, $magenta-60, $orange-60, $blue-50,
  $green-70, $magenta-70, $red-50, $purple-40, $orange-70, $blue-60, $yellow-70;

// Fonts
$default-font-family: 'Clear Sans', Helvetica, Arial, sans-serif;

// Line-Height Variables
$line-height-body: 1.5;
$line-height-compressed: 1.2;

// Font-Size Variables
$font-size-default: 16px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-l: 18px;
$font-size-heading-xs: 24px;
$font-size-heading-s: 32px;
$font-size-heading-m: 40px;

// Animation Variables
$transition-short: 150ms;
$transition-medium: $transition-short * 3;
$transition-long: $transition-short * 7;
$easing-curve: cubic-bezier(0.07, 0.95, 0, 1);

// Border-Radius Variables
$border-radius-default: 9px;
$border-radius-xs: 2px;
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;

// Page padding (this is the padding for an entire page that isn't full-width,
// like the AddonsDetail page)
$padding-page: 10px;
$padding-page-l: 24px;

// Restrict the max-width of modals.
$max-modal-width: 768px;

// Theme image dimensions
$theme-height-default: 92px;
$theme-width-default: 720px;

// Lightweight images are slightly different
$theme-height-legacy: 100px;

// No "small" breakpoint is defined here because we are mobile-first.
// Instead of adding a rule for only mobile, add a mobile rule and override
// it with `@include respond-to(medium) { [...] }`.
$breakpoints: (
  mediumOnly: only screen and
    (
      min-width: 500px,
    )
    and
    (
      max-width: 719px,
    ),
  medium: only screen and
    (
      min-width: 500px,
    ),
  large: only screen and
    (
      min-width: 720px,
    ),
  extraLarge: only screen and
    (
      min-width: 900px,
    ),
  extraExtraLarge: only screen and
    (
      min-width: 1150px,
    ),
);

// Restrict content to this width on large screens.
$max-content-width: 1366px;

// Control the gutter to the left and right of the header and footer.
// Mainly relevant to non-mobile screen-sizes.
$header-footer-gutter: 24px;
